<div class="container">
    <div class="filter-list">
        <ol>
            <li class="filter-tree filter-tree-group-header">
                <i class="fa fa-times-circle fa-fw jr-fa-buttons jr-fa-red" ng-click="$ftree.closeAll()"></i>
                <i class="fa fa-arrow-circle-up fa-fw jr-fa-buttons jr-fa-gray"></i>
                <button class="btn btn-default btn-xs jr-ftree-button" ng-click="$ftree.changeJoinOperator($ftree.data)">{{ $ftree.data.operator }}</button>
                <i class="fa fa-plus-circle fa-fw jr-fa-buttons jr-fa-green" ng-click="$ftree.addFilterItem($ftree.data)"></i>
                <i class="fa fa-share-alt-square jr-fa-buttons fa-fw jr-fa-green" ng-click="$ftree.addGroupHeader($ftree.data)"></i>
            </li>
            <li class="filter-tree-no-decoration">
                <ol>
                    <div ng-repeat="(indexX,child) in $ftree.data.children track by $index">
                        <li ng-include="$ftree.getChildClass(child)" class="filter-tree-no-decoration"></li>
                    </div>
                </ol>
            </li>
        </ol>
    </div>
    <div class="filter-search-summary">
        <p ng-bind-html="$ftree.renderHtml($ftree.searchSummary)"></p>
    </div>
    <span>data: {{ $ftree.data }}</span>
    <br />
    <span>filterInfo: {{ filterInfo }}</span>
</div>
