<div class="filter-tree filter-tree-filter-item" ng-switch="child.fieldType">
    <i class="fa fa-times-circle fa-fw jr-fa-buttons jr-fa-red" ng-click="$ftree.close($ftree.data, child)"></i>
    <select ng-model="child.field" class="filter-tree-field-select" ng-change="$ftree.fieldSelected(child)" ng-options="field.displayName for field in $ftree.fieldList"></select>
    <select ng-model="child.operator" class="filter-tree-operator-select" ng-change="$ftree.operatorSelected(child)" ng-options="o as o for o in child.operatorList"></select>
    <!-- look into how getterSetter works and change the text input to a getterSetter function to update child.value -->
    <input ng-switch-when="text" type="text" ng-model="child.value" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"  class="filter-tree-value" ng-disabled="child.operator === 'is set' || child.operator === 'is not set'" ng-blur="$ftree.updateSearchSummary()"/>
    <input ng-switch-when="date" type="date" ng-model="child.value" ng-change="$ftree.updateSearchSummary()"  class="filter-tree-value" ng-disabled="child.operator === 'is set' || child.operator === 'is not set' || child.dateSelector !== 'Selected Date'" placeholder="yyyy-MM-dd" min="1970-01-01" max="2050-12-31" />
    <select ng-switch-when="date" ng-model="child.dateSelector" ng-change="$ftree.setDateValue(child)" ng-options="d as d for d in $ftree.dateSelectorOptions" ng-disabled="child.operator === 'is set' || child.operator === 'is not set'"></select>
    <i class="fa fa-share-alt-square jr-fa-buttons fa-fw jr-fa-green" ng-click="$ftree.addGroupHeader(child)"></i>
</div>
