<div class="filter-tree filter-tree-group-header">
    <i class="fa fa-times-circle fa-fw jr-fa-buttons jr-fa-red" ng-click="$ftree.close($ftree.data, child)"></i>
    <i class="fa fa-arrow-circle-up fa-fw jr-fa-buttons jr-fa-green" ng-click="$ftree.moveUp(child)"></i>
    <button class="btn btn-default btn-xs jr-ftree-button" ng-click="$ftree.changeJoinOperator(child)">{{ child.operator }}</button>
    <i class="fa fa-plus-circle fa-fw jr-fa-buttons jr-fa-green" ng-click="$ftree.addFilterItem(child)"></i>
    <i class="fa fa-share-alt-square jr-fa-buttons fa-fw jr-fa-green" ng-click="$ftree.addGroupHeader(child)"></i>
</div>
<ol>
    <div ng-repeat="(indexX,child) in child.children track by child.id">
        <li ng-include="$ftree.getChildClass(child)" class="filter-tree-no-decoration"></li>
    </div>
</ol>
