 /* outer div */
.filter-list {
    position: relative;
    min-height: 300px;
}
/* big box of text */
.filter-search-summary {
  padding: 10px 10px 10px 10px;
  position: relative;
  width: 70%;
  border: 1px solid #999999;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.filter-tree-no-decoration, .ftss{
    list-style: none;
}
/* list items */
.filter-tree {
    list-style: none;
    padding: 3px 5px 3px 5px;
    position: relative;
    display: inline-block;
    margin: 2px;
    text-align: center;
    vertical-align: center;

    border: 1px rgb(89,89,89) solid;

    background: rgb(197, 197, 197);

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -moz-box-shadow:  3px 3px 2px 1px rgb(128,128,128);
    -webkit-box-shadow:  3px 3px 2px 1px rgb(128,128,128);
    box-shadow:  3px 3px 2px 1px rgb(128,128,128);    
}

.filter-tree-group-header {
    display: inline-block;
}

.filter-tree-filter-item {
    display: inline-block;
}

/* input fields */
.filter-tree-field-select, .filter-tree-operator-select {
  position: relative;
  top: -1.5px;
  min-width: 100px;
  
}
.jr-ftree-button {
  position: relative;
  top: -1px;

}
.filter-tree-value {
  position: relative;
  top: -1.5px;
  min-width: 150px;
  max-width: 150px;
  width: 150px;
}

/* font awesome colors */

.jr-fa-buttons {
   position: relative;
   font-size: 1.2em;
   top: 1px;
}

.jr-fa-share {
  font-size 1em;

}
.jr-fa-gray {
    color: #333333;
}
.jr-fa-green {
  color: #009900
}
.jr-fa-green:hover {
  color: #55cc55;
}
.jr-fa-red {
  color: #ff0000;
}
.jr-fa-red:hover {
  color: #ff7777;
}



@media only screen and (max-width: 500px) {
  .filter-tree {
    display: block;
  }
  
}

