<!-- index.html -->
    <!DOCTYPE html>
    <html ng-app="filterTreeApp">
    <head>
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" />
      <link rel="stylesheet" href="css/filterTree.css" />


    </head>
    <body ng-controller="filterTreeController">
        
        <filter-tree field-list="fieldList" operator-list="operatorList" filter-info="chartFilters"></filter-tree> 
        <br />
        <span>chartFilters: {{ chartFilters }}</span>
        
      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
      <!--<script src="https://code.angularjs.org/1.5.0/angular.js"></script>-->
      <script src="https://code.angularjs.org/1.3.13/angular.js"></script>
      <script src="js/angular.module.js"></script>
      <script src="js/filterTree.directives.js"></script>
    </body>
    </html>